.rm-page-ref--link {
  	color:rgb(84,208,114) !important;
  	color:rgb(137,192,251) !important;
}

a {
  	color:rgb(137,192,251) !important;
  	color:rgb(84,208,114) !important;
}
.rm-page-ref--namespace {
  	color:rgb(137,192,251) !important;
}